body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    overflow-x: hidden; /* Remove horizontal scroll */
    
}

/* Estilo para o título da página (h2) */
h2 {
    font-size: 2rem; /* Tamanho maior */
    font-weight: bold; /* Negrito */
    color: #333; /* Cor escura para boa legibilidade */
    text-align: center; /* Centraliza o título */
    padding: 1rem; /* Espaçamento interno superior e inferior */
    letter-spacing: 1px; 
}



.elemento_pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.destaque {
    font-weight: bold;
    color: #007bff; /* Cor de destaque */
    font-size: 1.1rem;
}

.card-body p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}
.areaTicket {
    overflow-x: hidden; /* Impede o scroll horizontal */
    list-style: none;   /* Remove os marcadores da lista */
    padding: 0;         /* Remove o padding da lista */
    margin: 0;          /* Remove a margem da lista */
}

.card {
    overflow: hidden; /* Impede qualquer scroll fora do card */
    width: 100%; /* Ajusta o card para ocupar toda a largura disponível */
    max-width: 100%; /* Garantir que não ultrapasse 100% da tela ou do contêiner */
}
.card-body h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: #333;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 1rem; /* Espaço entre os cards */
    margin: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #e0e0e09f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 40%; /* Largura fixa para os cards ficarem do mesmo tamanho */
    margin: 0.5rem; /* Margem sólida entre os cards */
    height: 500px; /* Altura fixa dos cards */
}

.card-title {
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card-tile {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 1rem;
}

.areaTicket {
    width: 100%;
    height: 65vh;
    overflow-y: auto;
}

ul.pesquisa {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li.pesquisa {
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #e0e0e09f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
}

li:hover.pesquisa {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

strong.pesquisa {
    color: #333;
    font-weight: 600;
}

a.pesquisa {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

a:hover.pesquisa {
    color: #0056b3;
    text-decoration: underline;
}

p.pesquisa {
    font-style: italic;
    color: #666;
    text-align: center;
    margin-top: 1rem;
}

label {
    margin-left: 1vw;
}

.grupoBotao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.botao_limpar,
.botao_pesquisar {
    width: 7vw;
    height: 4vh;
}

.inputPesquisa {
    margin-top: 1vh;
}

#pizza, #setorChart {
    width: 100%;
    height: 300px;
}

#choices_user {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.choice_user {
    font-size: 1.4em;
    font-family: 'Montserrat', Helvetica, sans-serif;
    width: 35vw;
    height: 13vh;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: #2C4459;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.choice_user:hover, .choice_user:focus {
    font-size: 1.42em;
    font-family: 'Montserrat', Helvetica, sans-serif;
    width: 36.5vw;
    height: 14.5vh;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: #2C4459;
    border-color: #000000;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
}

.choice_user:active {
    font-size: 1.4em;
    font-family: 'Montserrat', Helvetica, sans-serif;
    width: 35vw;
    height: 13vh;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #2C4459;
    font-weight: bold;
    background-color: #ffffff;
    border-color: #2C4459;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
}
