body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.elemento_pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}

a:hover {
    text-decoration: none;
}

main {
    width: 100%;
    height: 83vh;
}

.areaTicket{
    width: 65vw;
    height: 65vh;
}

ul.pesquisa {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}

li.pesquisa {
    background-color: #f9f9f9; /* Cor de fundo clara */
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #e0e0e09f; /* Bordas sutis */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.2s, box-shadow 0.2s;
    width: 60vw;
    list-style-type: none;

}

li:hover.pesquisa {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

strong.pesquisa {
    color: #333; /* Cor de destaque para o texto em negrito */
    font-weight: 600;
}

a.pesquisa {
    color: #007bff; /* Azul moderno */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold;
    transition: color 0.2s;
}

a:hover.pesquisa {
    color: #0056b3; /* Escurece o azul ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado para indicar interação */
}


p.pesquisa {
    font-style: italic;
    color: #666; /* Cinza suave para a mensagem */
    text-align: center;
    margin-top: 1rem;
}

label{
    margin-left: 1vw;
}

.grupoBotao{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1vh;
}

.botao_limpar{
    width: 7vw;
    height: 4vh;
    margin-left: 1vw;
}

.botao_pesquisar{
    width: 7vw;
    height: 4vh;
    margin-right: 1vw;

}

.inputPesquisa{
    margin-top: 1vh;
}

.areaTicket{
    width: 65vw;
    height: 45vh;
    overflow-y: auto;
}